*.iml
*.log
*.class

.DS_Store

local.properties

/.gradle
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/markdown-*.xml
/.idea/libraries
/.idea/markdown-navigator

/gradlew
/gradlew.bat

/bin
/out
/build
/gradle
